# Configuration de la base de données
POSTGRES_DB=pmt_db
POSTGRES_USER=pmt_user
POSTGRES_PASSWORD=votre_mot_de_passe_db
DB_HOST=db
DB_PORT=5432

# Configuration Backend
BACKEND_PORT=8080
SPRING_PROFILES_ACTIVE=prod

# Configuration SMTP Mailjet
MAIL_HOST=in-v3.mailjet.com
MAIL_PORT=587
MAIL_USERNAME=votre_api_key_mailjet
MAIL_PASSWORD=votre_secret_key_mailjet
MAIL_FROM=votre_email@example.com

# Configuration Frontend
FRONTEND_PORT=4200
API_URL=http://localhost:8080/api
